@media (max-width: 600px) {
    body {
        font-size: 14px;
        width: 100vw;
        text-align: center;
    }

    .btn {
        font-size: 1.1em;
        width: 90vw;
        padding: 0.8em 0.5em;
    }

    .hero {
        & .img-hero{
            width: 100%;
            background-image: linear-gradient(135deg, #c5c0ba, #d4d4d2);
            & .hero-img {
                margin-block: 2em;
                max-width: 90%;
                height: auto;
            }
        }
        & h1 {
            font-size: 2em;
        }
        & h2 {
            font-size: 1.2em;
        }
        & .div {
            width: 90vw;
            margin-block: 1em;
        }
        & .p1 {
            font-size: 1em;
            margin-bottom: 2em;
            text-align: justify;
            width: 80%;
            padding-inline: 1em;
        }
        & .p2 {
            font-size: 1em;
            margin-bottom: 2em;
            text-align: justify;
            width: 80%;
            padding-inline: 1em;
        }
        & .arrow-down {
            margin-block: 2em;
            width: 2em;
        }
        & a{
            margin-bottom: -6em;
        }
        & .footer-hero {
            background-color: #beb9b1;
            width: 100%;
            content: url(assets/hero-footer-mobile.webp);
            /* padding: 1em; */
            text-align: center;
        }
    }

    .video {
        & h2 {
            padding: 1em;
            font-size: 1.6em;
        }
        & video {
            width: 95%;
            margin-bottom: 2em;
        }
    }

    .identifica {
        background-color: #4a4a4a;
        color: #ffffff;
        padding-block: 4em;

        & h3{
            /* width: 80%; */
            margin: 0 auto 1em auto;
            letter-spacing: 0.06em;
            font-size: 1.5em;
        }
        .subli{
            content: "";
            width: 80%;
            height: 0.5px;

        }
        & .item {
            display: flex;
            align-items: center;
            padding-left: 0.5em;
            margin-bottom: 1em;
            width: 80%;

            & img{
                width: 1.2em;
            }

            &:before {
                display: inline-block;
                /* min-width: 1.2em; */
                height: 1em;
                margin-right: 1em;
                /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23e74c3c' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E"); */
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            & p {
                font-size: 1.1em;
                text-align: justify;
                width: 100%;
                margin: 0;
                line-height: 1.5;
            }
        }
    }

    .configurando {
        background-color: #f8f6f2;
        color: #333333;
        padding: 40px 20px;

        & h2 {
            font-size: 1.5em;
            text-align: center;
            margin-bottom: 0.5em;
            padding-bottom: 0.5em;
            position: relative;
            
            &:after {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 50px;
                height: 2px;
                background-color: #cccccc;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
            }
        }

        & .div{
            width: 60vw !important;
            margin: 0 auto 0.5em auto;
        }
        
        & .check {
            width: 90%;
            display: flex;
            align-items: center;
            padding-left: 0.5em;
            margin-bottom: 0.2em;

            &::before {
                display: inline-block;
                min-width: 1.2em;
                height: 1.2em;
                margin-right: 1em;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%232ecc71' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            & img{
                width: 1.2em;
                /* margin-right: 1em; */
            }
            & p{
                font-size: 1.1em; /* Ajuste de fonte */
                width: 100%;
                text-align: justify;
                margin: 0;
                /* line-height: 1.5; */
            }
        }
    }
    
    
    .bonus {
        margin-top: 2em;
        text-align: center;
        padding-inline: 1.5em;

        & .presente{
            width: 2em;
        }
        
        & h2 {
            font-size: 1.5em;
        }
        & .preco {
            width: 90vw !important;
            height: 30em;
            font-size: 1em;
             & h2 {
                font-size: 2.5em;
            }
            & h3 {
                font-size: 1.2em;
            }
            & .risco {
                font-size: 1.2em;
            }
            & .p1{
                margin-top: -2em;

            }
        }
        & p {
            font-size: 1.4em;
            width: 100%;
        }
        & img {
            width: 90vw;
            padding-block: 1em;
        }
        & .mac {
            width: 90vw;
            padding-block: 1em;
        }
        & .btn{
            height: 4em;
            width: 80vw;
            margin-top: -3.5em;

        }
    }


    .garantia {
        padding: 1em;
        min-height: unset;
        & h2 {
            font-size: 1.5em;
        }
        & p {
            width: 80vw !important;
            font-size: 1em;
            text-align: justify;
        }
        & img {
            width: 6em;
            margin-block: 1em;
        }

    }
    .faq {
    padding-inline: 1.2em;
    text-align: center;

    & h2 {
        font-size: 1.6em;
        text-align: justify;
        font-style: italic;
        margin-bottom: 0.5em;
        position: relative;

        &:after {
            /*content: "";
            position: absolute; */
            bottom: -0.5em;
            left: 70%;
            transform: translateX(-50%);
            /*width: 60px;
            */height: 2px;
            background-color: #ccc;
}
    }

    & .div {
        width: 80vw !important;
        height: fit-content;
    }

    & .pergunta {
        margin-bottom: 2em;

        & .item {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-bottom: 0.5em;
            width: 90%;

            &:before {
                /* content: ""; */
                display: inline-block;
                min-width: 1.2em;
                height: 1.2em;
                margin-right: 0.8em;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M12 16v-4'/%3E%3Cpath d='M12 8h.01'/%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            & img{
                margin-top: 0.2em;
                width: 1.2em;
                margin-right: 1em;
            }

            & p {
                font-weight: bold;
                font-size: 1.3em;
                margin: 0;
            }
        }

        & p {
            font-size: 1.1em;
            width: 90%;
            text-align: justify;
            /* padding-left: -2.2em; */
            color: #444;
            margin-top: 0.3em;

            margin-bottom: 1.6em;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #ddd;
            padding-bottom: 1.2em;
        }
    }
}

    .footer {
        background-size: 100% 100%;
        width: 98%;
        background-position: bottom;
        /* margin-top: -2em; */
        padding: 1em;
        height: max-content;
        /* min-height: unset; */
        & h2 {
            font-size: 1.5em;
        }
        & p {
            width: 80vw !important;
            font-size: 1em;
            letter-spacing: 0.07em;
            text-align: justify;
            padding: 0.5em;
            font-weight: 500;
        }
        
        & #foto-marjorie {
            margin-top: -2.4em;
            width: 80vw;
            margin-bottom: -2.5em;
        }
        & h4 {
            font-size: 1.3em;
            letter-spacing: 0.07em;
            width: 100%;
            text-align: jus;
            padding: 0.5em;
        }
        & a{
            font-size: 1em;
            width: 70%;
            height: 4em;
            padding: 1em;
            text-align: jus;
            margin-bottom: 2em;
        }
    }
}
